{{ define "content" }}
<section id="posts" class="posts">
  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}
</section>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- pagination -->
{{ partial "pagination.html" . }}

{{ end }}
